body{
  background: url(../img/bg.png);
  font-family: 'Alata', sans-serif;
}
.container {
  max-width: 960px;
}

.site-header {
  background-color: #6ACAC9;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.site-header .dropdown-item{
  color: #000;
}
.site-header .dropdown-item:hover{
  color: #666;
}
.logo-text{
  font-size: 1em;
}
.hero{
  opacity: .7;
}
.logo img{
  margin-top: -5px;
}
.btn-primary{
  background-color: #2DABAB;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover{
  background-color: #2DABAB;
  opacity: .8;
  border-color: #2DABAB;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}
footer{
  text-align: center; 
}

.overflow-hidden { overflow: hidden; }

/* cal view */
.table{
  background: #fff;
}
.badge-secondary,
.badge-info{
  margin: 0 auto;
  padding: 20px;
  display: block;
  font-size: 4vh;
}
.cal td{
  text-align: center;
  opacity: .6;
}
.cal td:hover{
  opacity: 1;
  cursor: pointer;
}
.btn-primary.btn-sm{
  border-color: #2DABAB;
  color: #fff !important;
}
.spacer{
height: 20px;
}
.site-header .btn-group{
margin-right: 50px;
}
.hide{
display: none;
}

/* searchbar typeahead */
.tt-menu{
  background: #fff;
  width: 100%;
}
.tt-suggestion{
  padding: 1px 10px;
  color: #666;
}
.tt-cursor{
  background-color: #2DABAB;
  color: #fff;
}
.tt-highlight{
  color: #000;
}

@media only screen and (max-width: 800px) {
  body{
    font-size: .5em;
  }
  input,
  .btn{
    font-size: .5em !important;
  }
  .badge-secondary,
  .badge-info{
    margin: 0 auto;
    padding: 5px;
    display: block;
    font-size: 2vh;
  }
  .table td, .table th{
    padding: 0;
  }
  
}
